*

!/.config/
!/.config/nvim/
!/.config/alacritty/
!/.config/fish
!.gitignore
!/.config/nvim/*
!/.config/nvim/lua/**
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!.tmux.conf
!/.config/alacritty/*
!README.md
